#sheetcake, #roundcake {
    visibility: hidden;
}


* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
h1{
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
}


#cake_layers {
    vertical-align: middle;
}

#layers1 {
    /*width: 55px;*/
    margin-left: 26px;
}

#layers2 {
    margin-left: 18px;


}

#layers3 {
    margin-left: 10px;

}




